<div class="container">
  <div class="messages">
    <ul>
      <% @messages.each do |message| %>
        <li>
          <%= message.body %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= form_for @new_message do |f| %>
    <fieldset>
      <%= f.label "body" %>
      <%= f.text_field :body %>
      <%= submit_tag "Send", class: "btn btn-primary" %>
    </fieldset>
  <% end %>
</div>
